<html ng-app="routeAppController">
  <head>
    <link rel="stylesheet" href="css/update.css">
  </head>
  <body>
      <div class="col s12 m6">
        <div class="card ">
          <div class="card-content" ng-controller="saveCtrl">

            <label>Ma nouvelle tâche</label> 
            <input type="text" ng-model="input_title">
            
            <div>
                <label>Date</label> 
                <input type="date" class="datepicker" ng-model="input_date">

                <label>Temps</label> 
                <input type="time" class="datepicker" ng-model="input_time">
            </div>

            <label>Contexte (faire une liste déroulante des contextes existants du coup)</label> 
            <input type="text" ng-model="input_context"> 

            <label>Description</label> 
            <textarea id="textarea2" class="materialize-textarea" data-length="2" ng-model="input_description"></textarea>

            <label>URL</label> 
            <input type="url" ng-model="input_url"> 

            <a class="btn-floating fab waves-effect waves-light #ef6c00 orange darken-3" style="position: absolute;
            left: 24px; bottom: -20px;"><i class="material-icons">delete</i></a>
            <a ng-click="save()" class="btn-floating halfway-fab waves-effect waves-light #ef6c00 orange darken-3"><i class="material-icons">save</i></a>
          </div>
        </div>
      </div>
  </body>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../js/controllers/controllers.js"></script>
</html>
            